body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

section {
    min-height: 500px; /* Set the desired maximum height */
    overflow-y: auto;
}

h2 {
    color: red;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }